.footer-contain{
    background-color: rgb(53, 42, 136);
    height: 200px;
}
.footer-contain h2{
    margin-top: 70px;
}
.description-footer{
    margin-top: 2rem;
}
.footer-name{
    color: beige;
}