.about{
    color: rgb(10, 182, 194);
    margin-top: 70px;
}
.img-per{
    max-width: 300px;
    max-height: 500px;
    object-fit:cover;
    
    border-radius: 55px;
}
.experience{
    color: aliceblue;
}

.box-exp{
    height: 200px;
    margin: 70px;
    border: 1px solid blueviolet;
    border-radius: 20px;
    background-color: rgb(74, 58, 189);
}
.box-exp:hover{
    transition: 0.4s;
    background-color: transparent;
}
.descripcion{
    color: aliceblue;
}
.icons-exp{
    color: rgb(10, 182, 194);
    font-size: 1.9rem;
    
}