.img-port{
    max-width: 400px;
    border-radius: 20px;
}
.box{
    height: 340px;
    margin: 40px;
    border: 1px solid blueviolet;
    border-radius: 20px;
    background-color: rgb(127, 112, 243);
    background-color: rgb(59, 48, 146);

}
.btn a{
    color: aliceblue;
    text-decoration: none;
}
.btn a:hover{
    color: aliceblue;
}